h1{
    text-align: center;
    margin: 0in;
    border-style: ridge;
    font-family: cursive;
    background-color: yellow;
}
h2{
    text-align: center;
    margin: 0in;
    border-style: ridge;
    font-family: cursive;
    background-color: orange;
    
}
body{
    background-image: url(contact\ bg\ image.jpg);
    background-repeat: no-repeat;
    background-size: 100% ; 
    text-align: center;
}
label{
    color: white;
    font-family: cursive;
    text-align: center;
}
form{
    margin-left: 100px;
    margin-top: 500px;
    align-items: center;
    background:black;
    padding: 40px;
    border-color: red;
    margin-top: 30px;
    border-radius: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 20%;
}
